.recommended {
    /* border:1px solid black;  */
    width: 80%;
    background-color: #f9f9f9;
    
    padding-bottom: 0;
  }
  
  .recommended > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
  }
  
  .recommended_videos{
      display: flex;
      flex-wrap: wrap;
  }