*{
  margin: 0;
  padding:0 ;
}
.app_p{
  width: 100%;
}
.app_page{
  display: flex;
  width: 100%;
  
}
.d__flex {
  display: flex;
}

.pointer{
  cursor: pointer;
}

.align__items__center{
  align-items: center;
}